// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ6018 CP01 board device tree source
 *
 * Copyright (c) 2019-2021 The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include "ipq6018-cp01.dtsi"
#include "ipq6018-cpr-regulator.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ6018/AP-CP01-C1";
	compatible = "qcom,ipq6018-ap-cp01-c1", "qcom,ipq6018-ap-cp01", "qcom,ipq6018";
};

&tlmm {
	i2c_1_pins: i2c_1_pins {
		mux {
			pins = "gpio42", "gpio43";
			function = "blsp2_i2c";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	button_pins: button_pins {
		mute_button {
			pins = "gpio0";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
		volume_down {
			pins = "gpio2";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
		mic_pwr {
			pins = "gpio16";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
		home {
			pins = "gpio18";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
		volume_up {
			pins = "gpio34";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

};

&soc {
	gpio_keys {
		vol_mute {
			label = "vol_mute";
			gpios = <&tlmm 0 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_MUTE>;
			debounce-interval = <15>;
		};

		vol_down {
			label = "vol_down";
			gpios = <&tlmm 2 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEDOWN>;
			debounce-interval = <15>;
		};

		power {
			label = "power";
			gpios = <&tlmm 16 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_POWER>;
			debounce-interval = <15>;
		};

		home {
			label = "action";
			gpios = <&tlmm 18 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_HOME>;
			debounce-interval = <15>;
		};

		vol_up {
			label = "vol_up";
			gpios = <&tlmm 34 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEUP>;
			debounce-interval = <15>;
		};
	};
};

&i2c_1 {
	pinctrl-0 = <&i2c_1_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&sdhc_2 {
	pinctrl-0 = <&sd_pins>;
	pinctrl-names = "default";
	cd-gpios = <&tlmm 62 1>;
	sd-ldo-gpios = <&tlmm 66 0>;
	vqmmc-supply = <&ipq6018_l2>;
	status = "ok";
};
